<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><a href="javascript: void(0);" onClick="pushPage('main');">Intranet</a></li>
    <li class="list-group-item"><a href="javascript: void(0);" onClick="pushPage('funcionarios');">Funcionarios</a></li>
    <li class="list-group-item"><a href="#">Empresas</a></li>
    <li class="list-group-item"><a href="#">Administração</a></li>
    <li class="d-none list-group-item restrito" id="restrito">
        <a href="#"><i class="fas fa-lock"></i> Restrito</a>
        <ul class="list-group"></ul>
    </li>
    <li class="list-group-item"><a href="#"><i class="far fa-question-circle"></i> Ajuda</a></li>
</ul>