/*PAGE RETORNO NFE -> CADASTRO NFE*/
#painel-novo-registro-nfes {
  @include paddings($top: 0.3rem, $left: 0);
}
div.table-container-cadastro-nfe {
  width: 100%;
}
table.table-new-registro {
  thead {
    tr {
      th {
        @include paddings($top: 0.25rem, $left: 0.25rem);
        vertical-align: middle;
      }
    }
  }
  tbody {
    tr {
      td {
        @include paddings($top: 0.25rem, $left: 0.25rem);
        vertical-align: middle;
        .container-motivos {
          #motivo-input {
            @include margins($top: 0.12rem, $left: auto, $right: auto, $bottom: 0.12rem);
            width: 20%;
          }
        }
      }
      .select-filial-td {
        width: 19%;
      }
    }
  }
}
div.inner-container-data-columns {
  div.flex-column {
    div.input-group {
      @include margins($top: 0.12rem, $left: auto, $right: auto, $bottom: 0.12rem);
    }
  }
}
td {
  button.btn-view-avarias {
    @include paddings($top: 0.15rem, $left: 0.5rem);
  }
}
/*PAGE RETORNO NFE -> CADASTRO AVARIAS*/
table.cadastro-retorno-avarias {
  tbody {
    tr {
      td {
        @include paddings($top: 0.25rem, $left: 0.25rem);
        vertical-align: middle;
      }
      td#textarea {
        textarea {
          min-width: 20vw;
          max-width: 20vw;
        }
      }
    }
  }
}
div.container-motivos-avaria {
  ul {
    li {
      @include paddings($top: 0.25rem, $left: 0.25rem);
      div {
        @include margins($top: 0.25rem, $left: 0.25rem, $right: 0.25rem, $bottom: 0.25rem);
      }
    }
  }
}
