/*PAGE RETORNO NFE -> CADASTRO NFE*/
.table-container-cadastro-nfe {
  width: $fullWidth;
  .new-registro-nfe-container {
    background-color: #e9ecef;
    margin-bottom: 1rem;
    border: 4px double #606a78;
  }
  .new-registro {
    button {
      padding: 0;
    }
    .item-name {
      padding: 0.25rem 0.35rem;
      background-color: #d7dbe1;
    }
    .nfe-container {
      flex: 1;
    }
    .emissao-container {
      flex: 1;
    }
    .cliente-container {
      flex: 4;
    }
    .cliente-name-view {
      &:disabled {
        background-color: white;
      }
    }
    .vendedor-container {
      flex: 1;
    }
    .filiais-container {
      flex: 2;
    }
    .motivo-container {
      flex: 1;
    }
    .motivo-data-container {
      flex: 9;
    }
    .resizable-container {
      width: fit-content;
      flex-grow: 1;
      .data-container {
        flex: 2;
        max-width: 20%;
      }
      .hora-container {
        flex: 2;
        max-width: 20%;
      }
      .liberado-por-container {
        flex: 4;
        max-width: 40%;
      }
      .nfes-retornadas-container {
        flex: 1;
        max-width: 10%;
      }
    }
    .motivo-desc-view {
      flex: 1;
      &:disabled {
        background-color: white;
      }
    }
    .show-avarias-button-container {
      height: 100%;
      button {
        margin: 0 0.25rem;
      }
    }
    .avarias-container-placer {
      padding-left: 5px;
    }
  }
}
.table-container-retorno-avarias {
  margin-top: 0.1rem;
  border: 4px ridge #d5d6e4;
  box-shadow: -5px 5px 5px rgb(190, 190, 190);
  background-color: #dbdde9;
  .avarias-title {
    margin: 0.25rem !important;
  }
  table {
    margin: 0;
    .container-header {
      background-color: #d3d6e3;
    }
    .item-name-avarias {
      padding: 0.25rem 0.75rem;
    }
    .button-container {
      vertical-align: middle;
      padding: 0;
    }
    .table-container {
      border: 0;
      padding: 0 !important;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }
    input {
      text-align: right;
    }
    ul {
      margin: auto;
    }
    .input-group-prepend {
      margin: 0;
    }
    .motivos-avaria-td {
      vertical-align: middle;
    }
    textarea::placeholder {
      text-align: end;
    }
  }
}
