/*MENUS PRIMARY*/
div.container-menu {
    width: $fullWidth - 30%;
    height: $fullHeight;
    ul {
        li {
            @include paddings($top: 0.25rem, $left: 0.8rem);
            border: none !important;
        }
    }
}
/*MENUS ATALHOS*/
div.container-menu-atalhos {
    width: $fullWidth;
    height: $fullHeight;
    h2 {
        @include fontFormater($size: $fontSizeTitle, $weight: normal);
    }
    ul {
        li {
            @include paddings($top: 0.5rem, $left: 0.8rem);
        }
    }
}
