div.modal-container-fixed {
    position: fixed;
    width: $fullViewPW;
    height: $fullViewPH;
    @include backgrounds($colors: rgba(0, 0, 0, 0.6));
    div.inner-modal-container#loginModal {
        width: $fullWidth - 80%;
    }
    div.inner-modal-container#genericModal {
        width: $fullWidth - 60%;
    }
    div.inner-modal-container#loginModal,
    div.inner-modal-container#genericModal {
        height: $fullHeight - 40%;
        ul {
            li:first-child {
                justify-content: space-between;
                span {
                    align-items: center;
                    display: flex;
                    cursor: pointer;
                }
            }
            li:last-child {
                display: flex;
                justify-content: end;
                button {
                    @include margins($left: 0.35rem);
                    @include borders($colors: rgba(176, 176, 176, 1));
                    background-color: rgba(176, 176, 176, 0.6) !important;
                    @include fontFormater($size: 0.8rem, $colors: rgba(0, 0, 0, 1));
                    @include textFormater($weight: 600);
                }
                button:hover {
                    background-color: rgba(176, 176, 176, 0.8) !important;
                    @include fontFormater($size: 0.8rem, $colors: rgba(0, 0, 0, 1));
                    @include textFormater($weight: 600);
                }
            }
            li {
                @include paddings($top: 0.55rem, $left: 0.85rem);
                @include fontFormater($size: 0.8rem);
                @include textFormater($weight: normal);
                h1 {
                    @include fontFormater($size: 1.4rem);
                    @include textFormater($weight: normal);
                    margin: 0 !important;
                }
                hr {
                    @include margins($top: 0.5rem);
                }
                label {
                    padding-left: 0.6rem;
                    @include margins($left: 0);
                }
                div.container#rowsContainer {
                    ul {
                        li:first-child {
                            justify-content: start;
                        }
                        li:last-child {
                            justify-content: start;
                        }
                        li {
                            @include paddings($top: 0.25rem, $left: 0.25rem);
                            border-top: none !important;
                            border-left: none !important;
                            border-right: none !important;
                            border-bottom: 1px solid rgba(176, 176, 176, 1);
                            border-radius: 0 !important;
                        }
                    }
                }
                div.container-input {
                    @include borders($colors: rgba(176, 176, 176, 0.8));
                    i {
                        @include textFormater($weight: normal);
                        @include paddings($top: 0, $left: 0.5rem);
                    }
                    input {
                        border: none !important;
                        width: $fullWidth - 15%;
                        @include paddings($top: 0.375rem, $left: 0.5rem);
                    }
                    input:hover,
                    input:active,
                    input:focus,
                    input:focus-visible {
                        border: none !important;
                        box-shadow: none !important;
                        outline: none !important;
                    }
                }
                small.errorMessage {
                    @include fontFormater($size: 0.6rem, $colors: rgba(255, 0, 0, 1));
                    @include textFormater($weight: normal, $decoration: underline);
                }
            }
        }
    }
}
