.paginations-controls {
    .qtd-registros {
        text-align: center;
        margin-bottom: 0.75rem;
    }
    .paginations-container {
        padding-left: 0.7rem;
        ul {
            @include margins($left: 0.15rem);
            .louder-paginations {
                .spinner-border {
                    width: 15px;
                    height: 15px;
                }
            }
            .single-item {
                border-radius: 0.25rem !important;
                border-width: 1px !important;
            }
        }
    }
}
