$fullWidth: 100%;
$fullHeight: 100%;
$fullViewPW: 100vw;
$fullViewPH: 100vh;
$fontSise: 1rem;
$fontSizeTitle: 1.6rem;
$fontColor: rgba(0, 0, 0, 1);
$vendas: rgb(220, 219, 234);
$funcionarios-desligados: rgb(175, 194, 198);
$rh: rgb(220, 211, 184);
$currentPages: rgba(221, 221, 221, 0.6);
